<!-- ========== MAIN ========== -->
<main id="content" role="main" class="bg-light" style="top: 50px;">
    <!-- Breadcrumb Section -->
    <div class="bg-dark" style="background-image: url(../assets/svg/components/abstract-shapes-20.svg);">
      <div class="container space-1 space-top-lg-2 space-bottom-lg-3">
        <div class="row align-items-center">
          <div class="col">
            <div class="d-none d-lg-block">
              <h1 class="h2 text-white">
                <%= nombrePagina%>
              </h1>
            </div>
  
            <!-- Breadcrumb -->
            <ol class="breadcrumb breadcrumb-light breadcrumb-no-gutter mb-0">
              <li class="breadcrumb-item active" aria-current="page">
              </li>
            </ol>
            <!-- End Breadcrumb -->
          </div>
  
          <div class="col-auto">
            <div class="d-none d-lg-block">
              <a class="btn btn-sm btn-soft-light" href="#">Cerrar Sesión</a>
            </div>
  
            <!-- Responsive Toggle Button -->
            <button type="button" class="navbar-toggler btn btn-icon btn-sm rounde-circle d-lg-none"
              aria-label="Toggle navigation" aria-expanded="false" aria-controls="sidebarNav" data-toggle="collapse"
              data-target="#sidebarNav">
              <span class="navbar-toggler-default">
                <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor"
                    d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z" />
                </svg>
              </span>
              <span class="navbar-toggler-toggled">
                <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor"
                    d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z" />
                </svg>
              </span>
            </button>
            <!-- End Responsive Toggle Button -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Breadcrumb Section -->
  
    <!-- Content Section -->
    <div class="container space-1 space-top-lg-0 space-bottom-lg-2 mt-lg-n10">
      <div class="row">
        <div class="col-lg-3">
          <!-- Navbar -->
          <div class="navbar-expand-lg navbar-expand-lg-collapse-block navbar-light">
            <div id="sidebarNav" class="collapse navbar-collapse navbar-vertical">
              <!-- Card -->
              <div class="card mb-5">
                <div class="card-body">
                  <!-- Avatar -->
                  <div class="d-none d-lg-block text-center mb-5">
                    <div class="avatar avatar-xxl avatar-circle mb-3">
                      <% if (usuario.imagen){ %> 
                        <img id="avatarImg" class="avatar-img" src="/uploads/perfiles/<%=usuario.imagen%>"
                        alt="Image Description">
                        <img class="avatar-status avatar-lg-status" src="../assets/svg/illustrations/top-vendor.svg"
                        alt="Image Description" data-toggle="tooltip" data-placement="top" title="Esta Verificada la cuenta">
                      <% } else {%> 
                        <img id="avatarImg" class="avatar-img" src="../assets/img/160x160/img39.jpg"
                        alt="Image Description">
                        <img class="avatar-status avatar-lg-status" src="../assets/svg/illustrations/top-vendor.svg"
                        alt="Image Description" data-toggle="tooltip" data-placement="top" title="Esta Verificada la cuenta">
                      <% } %>
                    </div>
  
                    <h4 class="card-title"><%=usuario.nombre%></h4>
                  <p class="card-text font-size-1"><%=usuario.email%></p>
                  </div>
                  <!-- End Avatar -->
  
                  <!-- Nav -->
                  <h6 class="text-cap small">Mi Cuenta</h6>
  
                  <!-- List -->
                  <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
                    <li class="nav-item">
                      <a class="nav-link " href="/administracion">
                        <i class="fas fa-id-card nav-icon"></i> Editar Perfil
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/administracion-Meeti">
                        <i class="fas fa-shield-alt nav-icon"></i> Mis Meeti
                        <span class="badge badge-soft-dark badge-pill nav-link-badge"><%= listameeti.length %></span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="/administracion-Grupo">
                        <i class="fas fa-bell nav-icon"></i> Mis Grupos
                        <span class="badge badge-soft-dark badge-pill nav-link-badge"><%= grupos.length %></span>
                      </a>
                    </li>
                  </ul>
                  <!-- End List -->
                  <div class="d-lg-none">
                    <div class="dropdown-divider"></div>
                  </div>
                  <!-- End Nav -->
                </div>
              </div>
              <!-- End Card -->
            </div>
          </div>
          <!-- End Navbar -->
        </div>
  
        <div class="col-lg-9">
          <!-- Card -->
          <div class="card">
            <!-- Header -->
            <div class="card-header">
              <h5 class="card-title">Formulario para editar Meeti</h5>
            </div>
            <!-- End Header -->
            <% if(locals.mensajes) { %>
              <% const categoria=Object.keys(locals.mensajes) %>
                <% if (categoria.length) { %>
                  <% locals.mensajes[categoria].forEach(alerta=>{ %>
                    <div class="alert alert-soft-<%- categoria %> text-center rounded-0 mb-0" role="alert">
                      <strong>
                        <%= alerta %>
                      </strong>
                    </div>
                    <% }) %>
                      <% } %>
                        <% } %>
  
                          <!-- Body -->
                          <div class="card-body">
                            <!-- Nav -->
                            <!-- End Nav -->
                            <!-- Tab Content -->
                            <div class="tab-content" id="editUserTabContent">
  
  
                              <!-- /////////////////////////// FORMULARIO PARA NUEVO MEETIS//////////////////////////////////////// -->
                              <form action="/editar-meeti/<%= meeti.id %>" method="POST">
                                <!-- Form Group -->
                                <div class="row form-group">
                                  <label for="locationLabel1" class="col-sm-3 col-form-label input-label">Grupos</label>

                                  <div class="col-sm-9">
                                    <!-- Select -->
                                    <div class="mb-3">
                                      <select class="js-custom-select custom-select dropdown-toggle" id="locationLabel1"
                                        data-hs-select2-options='{
                      "customClass": "custom-select",
                      "searchInputPlaceholder": "Buscar por Meeti"
                    }' name="grupoId">
                                        <option value="" selected disabled>-- Elige un Grupo --</option>
                                        <% if (grupos.length> 0) { %>

                                          <% grupos.forEach(grupo=> { %>
                                            <option <%= (meeti.grupoId === grupo.id) ? 'selected' : ''%>  value="<%= grupo.id %>"
                                              data-option-template='<span class="d-flex align-items-center"><span class="avatar avatar-xs avatar-soft-dark avatar-circle mr-2"></span><span><%= grupo.nombre %></span></span>'>
                                              <%= grupo.nombre %>
                                            </option>
                                            <% }) %>

                                              <% } %>
                                      </select>
                                    </div>
                                    <!-- End Select -->
                                  </div>

                                 
                                </div>
                                <!-- End Form Group -->
                                <!-- Form Group -->
                                <div class="row form-group">
                                  <label for="firstNameLabel" class="col-sm-3 col-form-label input-label">Titulo <i
                                      class="far fa-question-circle text-body ml-1" data-toggle="tooltip"
                                      data-placement="top"
                                      title="Al crear el meeti se publicara en Meeti home."></i></label>

                                  <div class="col-sm-9">
                                    <div class="input-group">
                                      <input type="text" class="form-control" name="titulo" id="firstNameLabel"
                                        placeholder="Titulo del meeti" value="<%= meeti.titulo %>">
                                    </div>
                                  </div>
                                </div>
                                <!-- End Form Group -->
                                <!-- Form Group -->
                                <div class="row form-group">
                                  <label for="firstNameLabel" class="col-sm-3 col-form-label input-label">Invitado
                                  </label>

                                  <div class="col-sm-9">
                                    <div class="input-group">
                                      <input type="text" class="form-control" name="invitado" id="firstNameLabel"
                                        placeholder="Nombre Invitado o Ponente (si aplica)" value="<%= meeti.invitado %>">
                                    </div>
                                  </div>
                                </div>
                                <!-- End Form Group -->
                                <!-- Form Group -->
                                <div class="row form-group">
                                  <label for="firstNameLabel" class="col-sm-3 col-form-label input-label">Tiempo: <i
                                      class="far fa-question-circle text-body ml-1" data-toggle="tooltip"
                                      data-placement="top" title="Debe colocar la fecha y hora."></i></label>

                                  <div class="col-sm-9">
                                    <div class="input-group">
                                      <input type="date" class="form-control" name="fecha" placeholder="Fecha Meeti" value="<%= meeti.fecha %>">
                                      <input type="time" class="form-control" name="hora" placeholder="Hora Meeti" value="<%= meeti.hora %>">
                                      <%= JSON.stringify(meeti.fecha) %>
                                    </div>
                                  </div>
                                </div>
                                <!-- End Form Group -->
                                <!-- Form Group -->
                                <div class="row form-group">
                                  <label for="firstNameLabel" class="col-sm-3 col-form-label input-label">Cupo </label>

                                  <div class="col-sm-9">
                                    <div class="input-group">
                                      <input type="text" class="form-control" name="cupo" id="firstNameLabel"
                                      value="<%= meeti.cupo %>" placeholder="Cupo Meeti (si aplica)">
                                    </div>
                                  </div>
                                </div>
                                <!-- End Form Group -->
                                <!-- Form Group -->
                                <div class="row form-group">
                                  <label class="col-sm-3 col-form-label input-label">Descripcion</label>

                                  <div class="col-sm-9">
                                    <!-- Quill -->
                                    <div class="quill-custom">
                                      <input type="hidden" id="x" name="descripcion" value="<%= meeti.descripcion %>">
                                      <trix-editor input="x" style="min-height: 10rem!important;"></trix-editor>
                                    </div>
                                    <!-- End Quill -->
                                  </div>
                                </div>
                                <!-- End Form Group -->
                                <div class="text-center">
                                  <span class="divider divider-text">Ubicacion del Meeti</span>
                                </div>
                                <br>
                                <div class="row form-group">
                                  <label for="locationLabel" class="col-sm-3 col-form-label input-label">Coloca la
                                    direccion</label>

                                  <div class="col-sm-9">
                                    <input type="text" id="formbuscador" class="form-control" placeholder="Ubicacion">
                                    <p class="text-info">El asistente colocará una dirección estimada.</p>
                                  </div>
                                </div>

                                <!-- Mapa -->
                                <div id="map" class="min-h-450rem rounded" style="height: 400px; "></div>
                                <div class="shadow-primary-lg bg-primary text-white p-3 mb-5 rounded"
                                  style="text-align: center;"><i class="fas fa-map-marked-alt"></i>
                                  Mueve el Pin hacia el punto exacto en caso de ser necesario.</div>
                                <!-- End Mapa -->

                                <div class="alert alert-soft-primary" role="alert" style="text-align: center;">
                                  <i class="fas fa-info-circle mt-1 mr-1"></i>
                                  Confirmar que los siguiente campos sean correctos
                                </div>

                                <!-- Accordion -->
                                <div id="shopCartAccordion" class="accordion mb-5">
                                  <!-- Card -->
                                  <div class="card card-bordered shadow-none">
                                    <div class="card-body card-collapse" id="shopCardHeadingOne">
                                      <a class="btn btn-link btn-block card-btn collapsed" href="javascript:;"
                                        role="button" data-toggle="collapse" data-target="#shopCardOne"
                                        aria-expanded="false" aria-controls="shopCardOne">
                                        <span class="row align-items-center">
                                          <span class="col-9">
                                            <span class="media align-items-center">
                                              <span class="w-100 max-w-6rem mr-3">
                                                <img class="img-fluid" src="../assets/svg/icons/icon-8.svg" alt="SVG">
                                              </span>
                                              <span class="media-body">
                                                <span class="d-block font-size-1 font-weight-bold">Ver campos de
                                                  direccion</span>
                                              </span>
                                            </span>
                                          </span>
                                          <span class="col-3 text-right">
                                            <span class="card-btn-toggle">
                                              <span class="card-btn-toggle-default">&plus;</span>
                                              <span class="card-btn-toggle-active">&minus;</span>
                                            </span>
                                          </span>
                                        </span>
                                      </a>
                                    </div>
                                    <div id="shopCardOne" class="collapse" aria-labelledby="shopCardHeadingOne"
                                      data-parent="#shopCartAccordion">
                                      <div class="card-body">
                                        <!-- Form Group -->
                                        <div class="row form-group">
                                          <label for="firstNameLabel"
                                            class="col-sm-3 col-form-label input-label">Direccion </label>

                                          <div class="col-sm-9">
                                            <div class="input-group">
                                              <input type="text" class="form-control" id="direccion" name="direccion"
                                                placeholder="Direccion" readonly="read-only" value="<%= meeti.direccion %>" >
                                            </div>
                                          </div>
                                        </div>
                                        <!-- End Form Group -->

                                        <!-- Form Group -->
                                        <div class="row form-group">
                                          <label for="firstNameLabel" class="col-sm-3 col-form-label input-label">Ciudad
                                          </label>

                                          <div class="col-sm-9">
                                            <div class="input-group">
                                              <input type="text" class="form-control" id="ciudad" name="ciudad"
                                                placeholder="Ciudad" readonly="read-only" value="<%= meeti.ciudad %>">
                                            </div>
                                          </div>
                                        </div>
                                        <!-- End Form Group -->

                                        <!-- Form Group -->
                                        <div class="row form-group">
                                          <label for="firstNameLabel" class="col-sm-3 col-form-label input-label">Estado
                                          </label>

                                          <div class="col-sm-9">
                                            <div class="input-group">
                                              <input type="text" class="form-control" id="estado" name="estado"
                                                placeholder="Estado" readonly="read-only" value="<%= meeti.estado %>">
                                            </div>
                                          </div>
                                        </div>
                                        <!-- End Form Group -->

                                        <!-- Form Group -->
                                        <div class="row form-group">
                                          <label for="firstNameLabel" class="col-sm-3 col-form-label input-label">Pais
                                          </label>

                                          <div class="col-sm-9">
                                            <div class="input-group">
                                              <input type="text" class="form-control" id="pais" name="pais"
                                                placeholder="País" readonly="read-only" value="<%= meeti.pais %>">
                                            </div>
                                          </div>
                                        </div>
                                        <!-- End Form Group -->

                                        <!-- Form Group -->
                                        <div class="row form-group">
                                          <label for="firstNameLabel"
                                            class="col-sm-3 col-form-label input-label">Latitud </label>

                                          <div class="col-sm-9">
                                            <div class="input-group">
                                              <input type="text" class="form-control" id="lat" name="lat"
                                                placeholder="Latitud del lugar" readonly="read-only" value="<%= meeti.ubicacion.coordinates[0]%>"
                                                >
                                            </div>
                                          </div>
                                        </div>
                                        <!-- End Form Group -->

                                        <!-- Form Group -->
                                        <div class="row form-group">
                                          <label for="firstNameLabel"
                                            class="col-sm-3 col-form-label input-label">Longitud </label>

                                          <div class="col-sm-9">
                                            <div class="input-group">
                                              <input type="text" class="form-control" id="lng" name="lng"
                                                placeholder="Longitud del lugar" readonly="read-only" value="<%= meeti.ubicacion.coordinates[1]%>"
                                                >
                                            </div>
                                          </div>
                                        </div>
                                        <!-- End Form Group -->

                                      </div>
                                    </div>
                                  </div>
                                  <!-- End Card -->
                                </div>
                                <!-- End Accordion -->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                  <input type="submit" class="btn btn-primary" value="Guardar cambios">
                                </div>
                              </form>
                              <!-- /////////////////////////// FIN FORMULARIO PARA NUEVO MEETIS//////////////////////////////////////// -->
                              
                            
                            </div>
                          </div>
                          <!-- End Tab Content -->
          </div>
          <!-- End Body -->
        </div>
        <!-- End Card -->
      </div>
    </div>
    <!-- End Row -->
    </div>
    <!-- End Content Section -->
  </main>
  <!-- ========== END MAIN ========== -->