<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Profile Section -->
    <div class="container space-top-1 space-top-sm-2 space-bottom-2">
        <div class="row">
            <div id="stickyBlockStartPoint" class="col-md-5 col-lg-4 mb-7 mb-md-0">
                <div class="js-sticky-block card card-bordered p-4" data-hs-sticky-block-options='{
                 "parentSelector": "#stickyBlockStartPoint",
                 "breakpoint": "md",
                 "startPoint": "#stickyBlockStartPoint",
                 "endPoint": "#stickyBlockEndPoint",
                 "stickyOffsetTop": 12,
                 "stickyOffsetBottom": 12
               }'>
                    <div class="text-center">
                        <!-- User Content -->
                        <% if (usuario.imagen) {%>
                            <img class="img-fluid rounded-circle mx-auto" src="/uploads/perfiles/<%= usuario.imagen%>"
                                alt="Image Description" width="120" height="120">
                            <%} else {%>
                                <img class="img-fluid rounded-circle mx-auto" src="/assets/img/100x100/img12.jpg"
                                    alt="Image Description" width="120" height="120">
                                <% } %>

                                    <span class="d-block text-body font-size-1 mt-3">Joined in 2017</span>

                                    <div class="mt-3">
                                        <a class="btn btn-sm btn-outline-primary transition-3d-hover" href="#">
                                            <i class="far fa-envelope mr-2"></i>
                                            Send Message
                                        </a>
                                    </div>
                                    <!-- End User Content -->
                    </div>

                    <div class="border-top pt-4 mt-4">
                        <div class="row">
                            <div class="col-6 col-md-12 col-lg-6 mb-4">
                                <!-- Icon Block -->
                                <div class="media">
                                    <div class="d-flex">
                                        <span class="avatar avatar-xs mr-3">
                                            <img class="avatar-img"
                                                src="../assets/svg/illustrations/review-rating-shield.svg"
                                                alt="Image Description">
                                        </span>
                                        <span class="text-body font-size-1 mt-1">533 Reviews</span>
                                    </div>
                                </div>
                                <!-- End Icon Block -->
                            </div>

                            <div class="col-6 col-md-12 col-lg-6 mb-4">
                                <!-- Icon Block -->
                                <div class="d-flex">
                                    <span class="avatar avatar-xs mr-3">
                                        <img class="avatar-img" src="../assets/svg/illustrations/star.svg"
                                            alt="Image Description">
                                    </span>
                                    <span class="text-body font-size-1 mt-1">4.87 rating</span>
                                </div>
                                <!-- End Icon Block -->
                            </div>

                            <div class="col-6 col-md-12 col-lg-6 mb-4 col-6 col-md-12 mb-lg-0">
                                <!-- Icon Block -->
                                <div class="d-flex">
                                    <span class="avatar avatar-xs mr-3">
                                        <img class="avatar-img" src="../assets/svg/illustrations/medal.svg"
                                            alt="Image Description">
                                    </span>
                                    <span class="text-body font-size-1 mt-1">Top teacher</span>
                                </div>
                                <!-- End Icon Block -->
                            </div>

                            <div class="col-6 col-md-12 col-lg-6">
                                <!-- Icon Block -->
                                <div class="d-flex">
                                    <span class="avatar avatar-xs mr-3">
                                        <img class="avatar-img" src="../assets/svg/illustrations/add-file.svg"
                                            alt="Image Description">
                                    </span>
                                    <span class="text-body font-size-1 mt-1">29 courses</span>
                                </div>
                                <!-- End Icon Block -->
                            </div>
                        </div>
                    </div>

                    <div class="border-top pt-4 mt-4">
                        <h1 class="h4 mb-4">Connected accounts</h1>

                        <div class="row">
                            <div class="col-6 col-md-12 col-lg-6 mb-4">
                                <!-- Social Profiles -->
                                <a class="media" href="#">
                                    <div class="icon icon-xs icon-soft-secondary mr-3">
                                        <i class="fab fa-github"></i>
                                    </div>
                                    <div class="media-body">
                                        <span class="d-block font-size-1 font-weight-bold">Behance</span>
                                        <small class="d-block text-body">1.2k followers</small>
                                    </div>
                                </a>
                                <!-- End Social Profiles -->
                            </div>

                            <div class="col-6 col-md-12 col-lg-6 mb-4">
                                <!-- Social Profiles -->
                                <a class="media" href="#">
                                    <div class="icon icon-xs icon-soft-secondary mr-3">
                                        <i class="fab fa-slack"></i>
                                    </div>
                                    <div class="media-body">
                                        <span class="d-block font-size-1 font-weight-bold">Slack</span>
                                        <small class="d-block text-body">4.5k followers</small>
                                    </div>
                                </a>
                                <!-- End Social Profiles -->
                            </div>

                            <div class="col-6 col-md-12 col-lg-6 mb-0 mb-md-4 mb-lg-0">
                                <!-- Social Profiles -->
                                <a class="media" href="#">
                                    <div class="icon icon-xs icon-soft-secondary mr-3">
                                        <i class="fab fa-twitter"></i>
                                    </div>
                                    <div class="media-body">
                                        <span class="d-block font-size-1 font-weight-bold">Twitter</span>
                                        <small class="d-block text-body">2.7k followers</small>
                                    </div>
                                </a>
                                <!-- End Social Profiles -->
                            </div>

                            <div class="col-6 col-md-12 col-lg-6">
                                <!-- Social Profiles -->
                                <a class="media" href="#">
                                    <div class="icon icon-xs icon-soft-secondary mr-3">
                                        <i class="fab fa-facebook-f"></i>
                                    </div>
                                    <div class="media-body">
                                        <span class="d-block font-size-1 font-weight-bold">Facebook</span>
                                        <small class="d-block text-body">3k followers</small>
                                    </div>
                                </a>
                                <!-- End Social Profiles -->
                            </div>
                        </div>
                    </div>

                    <div class="border-top text-center pt-4 mt-4">
                        <a class="text-body small" href="#">
                            <i class="far fa-flag mr-1"></i> Report this author
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-7 col-lg-8">
                <div class="ml-lg-6">
                    <div class="mb-3 mb-sm-0 mr-2">
                        <h2>
                            <%= usuario.nombre %>
                        </h2>
                    </div>

                    <div class="media text-body font-size-1 mb-3">
                        <i class="fas fa-briefcase mt-1 mr-2"></i>
                        <div class="media-body">
                            Head of Data Science, Pierian Data Inc.
                        </div>
                    </div>

                    <p>
                        <%- usuario.descripcion %>
                    </p>

                    <!-- Read More - Collapse -->
                    <!-- <div class="collapse" id="collapseDescriptionSection">
                        <p><%- usuario.descripcion %></p>
                    </div> -->
                    <!-- End Read More - Collapse -->

                    <!-- Link -->
                    <!--  <a class="link link-collapse small font-size-1 font-weight-bold" data-toggle="collapse"
                        href="#collapseDescriptionSection" role="button" aria-expanded="false"
                        aria-controls="collapseDescriptionSection">
                        <span class="link-collapse-default">Read more</span>
                        <span class="link-collapse-active">Read less</span>
                        <span class="link-icon ml-1">+</span>
                    </a> -->
                    <!-- End Link -->

                    <!-- Courses -->
                    <div class="border-top pt-5 mt-5">
                        <h3 class="mb-4">Meeti's Creados</h3>

                        <!-- Course -->
                        <% if (meeti.length) {%>
                            <% meeti.forEach(meet=> {%>
                                <div class="border-top pt-3 mt-3">
                                    <a class="card shadow-none" href="/meeti/<%= meet.slug %>">
                                        <div class="card-body p-0">
                                            <div class="row">
                                                <div class="col-md-3 px-md-2 mb-3 mb-md-0">
                                                    <img class="img-fluid rounded"
                                                    src="../assets/svg/components/graphics-6.svg"
                                                    alt="Image Description">
                                                </div>
                                                <div class="col-sm-7 col-lg-9">
                                                    <div class="row">
                                                        <div class="col-lg-6 mb-2 mb-lg-0">
                                                            <h5 class="text-hover-primary">
                                                                <%= meet.titulo%>
                                                            </h5>
                                                        </div>

                                                        <div class="col-lg-6">
                                                            <div class="row">
                                                                <div class="col-7">
                                                                    <div class="small text-muted mb-2">
                                                                        <i class="fas fa-map-marked-alt"></i>
                                                                        <%= meet.direccion %> 
                                                                    </div>
                                                                    <div class="small text-muted">
                                                                        <i class="fas fa-clock mr-1"></i>
                                                                        <% moment.locale('es') %>
                                                                        <% const fecha=meet.fecha +' '+ meet.hora %> 
                                                                        <%=moment(fecha).format('h:mm a') %> 
                                                                    </div>
                                                                </div>
                                                                <div class="col-5 text-right">
                                                                    <small
                                                                        class="d-block text-muted text-lh-sm"><i class="fas fa-calendar-alt"></i> <%= moment(fecha).format('LL') %> </small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <%}); %>
                                    <% } %>
                                        <!-- End Course -->
                    </div>
                    <!-- End Courses -->

                    <div class="border-top pt-5 mt-5">
                        <h3 class="mb-4">Grupos Creados</h3>
                         <!-- Courses -->
                    <div class="js-slick-carousel slick slick-equal-height ie-slick-equal-height slick-gutters-3"
                    data-hs-slick-carousel-options='{
                        "prevArrow": "<span class=\"fas fa-arrow-left slick-arrow slick-arrow-left slick-arrow-centered-y shadow-soft rounded-circle ml-sm-2 ml-md-n2\"></span>",
                        "nextArrow": "<span class=\"fas fa-arrow-right slick-arrow slick-arrow-right slick-arrow-centered-y shadow-soft rounded-circle mr-sm-2 mr-md-n2\"></span>",
                        "slidesToShow": 3,
                        "responsive": [{
                          "breakpoint": 992,
                            "settings": {
                              "slidesToShow": 2
                            }
                          }, {
                          "breakpoint": 768,
                          "settings": {
                            "slidesToShow": 1
                          }
                        }]
                      }'>
                                <!-- <article class="col-sm-6 col-lg-4 px-2 px-lg-3 mb-3 ">
                                    <a class="card bg-img-hero w-100 min-h-270rem transition-3d-hover"
                                        href="course-description.html"
                                        style="background-image: url(../assets/img/400x500/img13.jpg);">
                                        <div class="card-body">
                                            <span
                                                class="d-block small text-white-70 font-weight-bold text-cap mb-2">Phython</span>
                                            <h3 class="text-white">What's new in Phython 3.7.2</h3>
                                        </div>
                                        <div class="card-footer border-0 bg-transparent pt-0">
                                            <span class="text-white font-size-1 font-weight-bold">Read now</span>
                                        </div>
                                    </a>
                                </article> -->
                                <% if (grupos.length) {%>
                                    <% grupos.forEach(grupo=> {%>
                                        <a class="card card-bordered" tabindex="0">
                                            <% if(grupo.imagen) { %>
                                                <img class="card-img-top w-100" src="/uploads/grupos/<%= grupo.imagen %>">
                                            <% } else { %>
                                                <img class="card-img-top w-100" src="/assets/img/400x500/img13.jpg" alt="Image Description"> 
                                            <% }  %> 
                                            
                                            <!-- Body -->
                                            <div class="card-body">
                                              <span class="d-block font-size-1 text-body"></span>
                                
                                              <div class="row align-items-center">
                                                <div class="col">
                                                  <h4 class="text-hover-primary" style="text-align: center;"><%= grupo.nombre%></h4>
                                                </div>
                                              </div>
                                            </div>
                                            <!-- End Body -->
                                          </a>
                                    <%}); %>
                                <% } %>
                                
                            </div>
                        </div>
                        <!-- End Courses -->
                    </div>
                   
                </div>

            </div>
        </div>
    </div>
    <!-- End Profile Section -->
</main>
<!-- ========== END MAIN CONTENT ========== -->

<div id="jsPreloader" class="page-preloader">
        <div class="page-preloader-content-centered">
          <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>